version: '3.8'

services:
  web:
    build: .
    container_name: portfolio_web
    restart: always
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: portfolio_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: portfolio_db
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: portfolio_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

volumes:
  db_data:
